<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets\addfellow.css">

</head>


<body background="images/image1.jpg">


    <form method="post" action="/addfellow">
        name:
        <input type="text" name="name">
        <br>
        batch:
        <input type="text" batch="batch">
        <br>
        college:
        <input type="text" college="college">
        <br>

        <input type="submit" value="Submit">
    </form>

</body>

</html>