<html>

<head>
  
    <link rel='stylesheet' href='/stylesheets/form.css' />
</head>

<body>
    <div class="container">

        <form id="contact" action="/feedback" method="post">
            <h3>Feedback</h3>
        
            <fieldset>
                <input placeholder="Your name" name="name" type="text" tabindex="1" required autofocus>
            </fieldset>
            <textarea id="w3mission" rows="4" cols="50" placeholder="Feedback">
               
            </textarea>
           
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
            
        </form>
    </div>
</body>

</html>