<html>

<head>
  
    <link rel='stylesheet' href='/stylesheets/form.css' />
</head>

<body>
    <div class="container">

        <form id="contact" action="/addfellow" method="post">
            <h3>Fellows</h3>
        
            <fieldset>
                <input placeholder="Your name" type="text" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input placeholder="Batch" type="email" tabindex="2" required>
            </fieldset>
            <fieldset>
                <input placeholder="College" type="tel" tabindex="3" required>
            </fieldset>
           
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
            
        </form>
    </div>
</body>

</html>