
<html>
<link rel='stylesheet' href='/stylesheets/session/style.css' />

<body>
  <div class="container">
    <form id="contact" action="/session" method="post">
      <h3>Session</h3>
     
      <fieldset>
        <input placeholder="Title" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Date" type="email" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input placeholder="Facilitator" type="tel" tabindex="3" required>
      </fieldset>
      <fieldset>
        <input placeholder="Venue" type="url" tabindex="4" required>
      </fieldset>
      
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    
    </form>
  </div>
</body>

</html>